<ul *ngFor="let vet of listaDati" class=" container list">
    <span class="span">_id: </span>{{vet.id}}<br>
    <span class="span">Nome Stazione: </span>{{vet.name}}<br>
    <span class="span">NOME: </span>{{vet.name_norm}}<br>
    <span class="span">Paese: </span>{{vet.country}}<br>
    <span class="span">Continente: </span>{{vet.time_zone}}<br>
    <span class="span">Stazione principale: </span>{{vet.is_city}}<br>
    <span class="span">Stazione aeroportuale: </span>{{vet.is_airport}}<br>
    <span class="span">Latitudine: </span>{{vet.latitude}}<br>
    <span class="span">Longitudine: </span>{{vet.longitude}}<br>
    <hr>
</ul>
